h1 {
  color: white;
  background-color: black;
}

.editor {
  border: 1px solid black;
}

.toolbar {
  display: flex;
}

button {
  width: 30px;
  height: 30px;
}

#Bold {
  font-weight: bolder;
}

#Italic {
  font-style: italic;
}

#Underline {
  text-decoration: underline;
}

svg {
  pointer-events: none;
}
