h1 {
  color: white;
  background-color: black;
}

.editor {
  border: 1px solid black;
  padding: 10px 10px;
}

.toolbar {
  display: flex;
}

button {
  width: 30px;
  height: 30px;
}

#Bold {
  font-weight: bolder;
}

#Italic {
  font-style: italic;
}

#Underline {
  text-decoration: underline;
}

svg {
  pointer-events: none;
}

a {
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}
